# Pandas Nedir?

--> Pandas, veri kümeleriyle çalışmak için kullanılan bir Python kütüphanesidir. Verileri analiz etme, temizleme, keşfetme ve işleme işlevlerine sahiptir.

--> Pandas, büyük verileri analiz etmemize ve istatistiksel teorilere dayalı sonuçlar çıkarmamıza olanak tanır.

--> Pandas, dağınık veri kümelerini temizleyebilir ve bunları okunabilir ve alakalı hale getirebilir

## Pandas Kütüphanesini Çağırma

In [1]:
import pandas as pd

## Series (Seriler)

#### Seri oluşturma --> pd.Series()

In [2]:
a = [1,7,2]
my_series = pd.Series(a)

--> Sol tarafta listedeki elemanların index değerleri, sağ taraftada da listedeki elemanlar bulunur.

In [3]:
my_series

0    1
1    7
2    2
dtype: int64

#### Seride, index değerlerini etiketlendirme

--> index argümanı ile etiketlendirme yapabiliriz

In [4]:
my_series1 = pd.Series(a, index = ["x" ,"y", "z"])
my_series1

x    1
y    7
z    2
dtype: int64

--> Etiketlendirme yaptıktan sonra, o isimlerle ögelere erişebiliriz

In [5]:
my_series1["x"]

1

In [6]:
my_series1["z"]

2

#### Dictionaries (Sözlük) ile seri oluşturma

In [7]:
calories = {"day1" : 1900, "day2" : 2050, "day3" : 2700 }
my_series2 = pd.Series(calories)
my_series2

day1    1900
day2    2050
day3    2700
dtype: int64

--> Sözlükteki öğelerin yalnızca bazılarını seçip bir seri oluşturmak için index argümanına seriye eklemek istediğimiz etiketleri gireriz

In [8]:
my_series3 = pd.Series(calories, index = ["day1", "day2"])
my_series3

day1    1900
day2    2050
dtype: int64

## Data Frames (Veri Çerçeveleri)

--> Pandas'taki veri kümeleri genellikle DataFrame adı verilen çok boyutlu tablolardır.
--> Seriler, bir sütun gibidir. DataFrame ise tüm tablodur.

In [9]:
data = {
    "calories" : [420, 380, 390],
    "duration" : [50, 40, 45]
}

my_series4 = pd.DataFrame(data)
my_series4

   calories  duration
0       420        50
1       380        40
2       390        45

#### DataFrame'deki bir veya birden fazla satırı döndürmek --> .loc[ ]

--> my_series4 adlı Data Frame'de, 0. indexteki satırı döndürelim

In [10]:
my_series4.loc[0] # Elde edeceğimiz sonuç, bir seri olacaktır.

calories    420
duration     50
Name: 0, dtype: int64

--> Bu sefer de 0. ve 1. indexteki satırı döndürelim

In [11]:
my_series4.loc[[0,1]] # İç içe [[..]] kullandığımızda elde edeceğimiz sonuç, bir data frame olacaktır.

   calories  duration
0       420        50
1       380        40

#### DataFrame'de index değerlerini etiketlendirme

--> index argümanı ile etiketlendirme yapabiliriz.

In [12]:
my_series5 = pd.DataFrame(data, index = ["day1", "day2", "day3"])
my_series5

      calories  duration
day1       420        50
day2       380        40
day3       390        45

--> Etiketlendirdiğimiz indexleri .loc[] ile çağırabiliriz

In [13]:
my_series5.loc["day2"]

calories    380
duration     40
Name: day2, dtype: int64

In [14]:
my_series5.loc[["day1", "day3"]]

      calories  duration
day1       420        50
day3       390        45

#### Dictionaries (Sözlük) ile DataFrame oluşturma

In [15]:
dict = {
    "country" : ["Brazil", "Russia", "India", "China"],
    "capital" : ["Brasilia", "Moscow", "New Delhi", "Beijing"],
    "area" : [8.516, 17.10, 3.286, 9.597],
    "population" : [200.4, 143.5, 1252, 1357]
}

brics = pd.DataFrame(dict, index = ["BR", "RU", "IN", "CH"])
brics

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

--> Eğer iç içe köşeli parantez kullanırsak elde edeceğimiz sonuç, bir data frame olur.
--> Eğer sadece tek köşeli parantez kullanırsak elde edeceğimiz sonuç, bir seri olur.

In [16]:
brics[["country", "capital"]]

   country    capital
BR  Brazil   Brasilia
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [17]:
brics["country"]

BR    Brazil
RU    Russia
IN     India
CH     China
Name: country, dtype: object

--> Data frame'den bir satır seçelim.

In [18]:
brics[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

--> _ _.loc[]'u brics data frame'ine uygulayalım 
--> Aynı şekilde eğer tek köşeli parantez kullanırsak elde edilen sonuç bir seri olacaktır. Eğer çift köşeli parantez kullanırsak elde edilen sonuç bir data frame olacaktır.

In [19]:
brics.loc["RU"] # Sonuç, seri

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [20]:
brics.loc[["RU"]] # Sonuç, data frame

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [21]:
brics.loc[["RU", "CH", "IN"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
CH   China    Beijing   9.597      1357.0
IN   India  New Delhi   3.286      1252.0

--> _ _.loc[] ile sadece istediğimiz satır ve sütundaki verileri data frame olarak döndürelim.

In [22]:
brics.loc[["RU", "CH", "IN"], ["country", "capital"]]

   country    capital
RU  Russia     Moscow
CH   China    Beijing
IN   India  New Delhi

--> _ _.loc[] ile bütün satırları getirirken sadece country ve capital sütunlarını data frame olarak döndürelim.

In [23]:
brics.loc[:, ["country", "capital"]]

   country    capital
BR  Brazil   Brasilia
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing