# Pandas Nedir?

--> Pandas, veri kümeleriyle çalışmak için kullanılan bir Python kütüphanesidir. Verileri analiz etme, temizleme, keşfetme ve işleme işlevlerine sahiptir.

--> Pandas, büyük verileri analiz etmemize ve istatistiksel teorilere dayalı sonuçlar çıkarmamıza olanak tanır.

--> Pandas, dağınık veri kümelerini temizleyebilir ve bunları okunabilir ve alakalı hale getirebilir

## Pandas Kütüphanesini Çağırma

In [1]:
import pandas as pd

## Series (Seriler)

#### Seri oluşturma --> pd.Series()

In [2]:
a = [1,7,2]
my_series = pd.Series(a)

--> Sol tarafta listedeki elemanların index değerleri, sağ taraftada da listedeki elemanlar bulunur.

In [3]:
my_series

0    1
1    7
2    2
dtype: int64

#### Seride, index değerlerini etiketlendirme

--> index argümanı ile etiketlendirme yapabiliriz

In [4]:
my_series1 = pd.Series(a, index = ["x" ,"y", "z"])
my_series1

x    1
y    7
z    2
dtype: int64

--> Etiketlendirme yaptıktan sonra, o isimlerle ögelere erişebiliriz

In [5]:
my_series1["x"]

1

In [6]:
my_series1["z"]

2

#### Dictionaries (Sözlük) ile seri oluşturma

In [7]:
calories = {"day1" : 1900, "day2" : 2050, "day3" : 2700 }
my_series2 = pd.Series(calories)
my_series2

day1    1900
day2    2050
day3    2700
dtype: int64

--> Sözlükteki öğelerin yalnızca bazılarını seçip bir seri oluşturmak için index argümanına seriye eklemek istediğimiz etiketleri gireriz

In [8]:
my_series3 = pd.Series(calories, index = ["day1", "day2"])
my_series3

day1    1900
day2    2050
dtype: int64

## Data Frames (Veri Çerçeveleri)

--> Pandas'taki veri kümeleri genellikle DataFrame adı verilen çok boyutlu tablolardır.
--> Seriler, bir sütun gibidir. DataFrame ise tüm tablodur.

In [9]:
data = {
    "calories" : [420, 380, 390],
    "duration" : [50, 40, 45]
}

my_series4 = pd.DataFrame(data)
my_series4

   calories  duration
0       420        50
1       380        40
2       390        45

#### DataFrame'deki bir veya birden fazla satırı döndürmek --> .loc[ ]

--> my_series4 adlı Data Frame'de, 0. indexteki satırı döndürelim

In [10]:
my_series4.loc[0] # Elde edeceğimiz sonuç, bir seri olacaktır.

calories    420
duration     50
Name: 0, dtype: int64

--> Bu sefer de 0. ve 1. indexteki satırı döndürelim

In [11]:
my_series4.loc[[0,1]] # İç içe [[..]] kullandığımızda elde edeceğimiz sonuç, bir data frame olacaktır.

   calories  duration
0       420        50
1       380        40

#### DataFrame'de index değerlerini etiketlendirme

--> index argümanı ile etiketlendirme yapabiliriz.

In [12]:
my_series5 = pd.DataFrame(data, index = ["day1", "day2", "day3"])
my_series5

      calories  duration
day1       420        50
day2       380        40
day3       390        45

--> Etiketlendirdiğimiz indexleri .loc[] ile çağırabiliriz

In [13]:
my_series5.loc["day2"]

calories    380
duration     40
Name: day2, dtype: int64

In [14]:
my_series5.loc[["day1", "day3"]]

      calories  duration
day1       420        50
day3       390        45

#### Dictionaries (Sözlük) ile DataFrame oluşturma

In [15]:
dict = {
    "country" : ["Brazil", "Russia", "India", "China"],
    "capital" : ["Brasilia", "Moscow", "New Delhi", "Beijing"],
    "area" : [8.516, 17.10, 3.286, 9.597],
    "population" : [200.4, 143.5, 1252, 1357]
}

brics = pd.DataFrame(dict, index = ["BR", "RU", "IN", "CH"])
brics

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

--> Eğer iç içe köşeli parantez kullanırsak elde edeceğimiz sonuç, bir data frame olur.
--> Eğer sadece tek köşeli parantez kullanırsak elde edeceğimiz sonuç, bir seri olur.

In [16]:
brics[["country", "capital"]]

   country    capital
BR  Brazil   Brasilia
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [17]:
brics["country"]

BR    Brazil
RU    Russia
IN     India
CH     China
Name: country, dtype: object

--> Data frame'den bir satır seçelim.

In [18]:
brics[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

--> _ _.loc[]'u brics data frame'ine uygulayalım 
--> Aynı şekilde eğer tek köşeli parantez kullanırsak elde edilen sonuç bir seri olacaktır. Eğer çift köşeli parantez kullanırsak elde edilen sonuç bir data frame olacaktır.

In [19]:
brics.loc["RU"] # Sonuç, seri

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [20]:
brics.loc[["RU"]] # Sonuç, data frame

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [21]:
brics.loc[["RU", "CH", "IN"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
CH   China    Beijing   9.597      1357.0
IN   India  New Delhi   3.286      1252.0

--> _ _.loc[] ile sadece istediğimiz satır ve sütundaki verileri data frame olarak döndürelim.

In [22]:
brics.loc[["RU", "CH", "IN"], ["country", "capital"]]

   country    capital
RU  Russia     Moscow
CH   China    Beijing
IN   India  New Delhi

--> _ _.loc[] ile bütün satırları getirirken sadece country ve capital sütunlarını data frame olarak döndürelim.

In [23]:
brics.loc[:, ["country", "capital"]]

   country    capital
BR  Brazil   Brasilia
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

## Data Frame'leri Filtreleme (Filtering dataframes)

#### Belirlediğimiz sütunda, istediğimiz aralıktaki değerlere sahip olan gözlemlerin olduğu bir data frame oluşturma

In [24]:
dict = {
    "country" : ["Brazil", "Russia", "India", "China"],
    "capital" : ["Brasilia", "Moscow", "New Delhi", "Beijing"],
    "area" : [8.516, 17.10, 3.286, 9.597],
    "population" : [200.4, 143.5, 1252, 1357]
}

brics = pd.DataFrame(dict, index = ["BR", "RU", "IN", "CH"])
brics

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

--> 1-) Sadece area sütununu döndürelim.

In [25]:
brics["area"]

BR     8.516
RU    17.100
IN     3.286
CH     9.597
Name: area, dtype: float64

--> 2-) area sütununda, 8'den büyük olan sayılar True, küçük olan sayılar False olacak şekilde boolean bir seri oluşturalım

In [26]:
brics["area"] > 8

BR     True
RU     True
IN    False
CH     True
Name: area, dtype: bool

--> 3-) Oluşturduğumuz bu seriyi, is_huge adlı bir değişkene atayalım

In [27]:
is_huge = brics["area"] > 8
is_huge

BR     True
RU     True
IN    False
CH     True
Name: area, dtype: bool

--> 4-) Eğer brics[is_huge] yazarsak sadece True olan değerlerin olduğu bir data frame elde ederiz. Böylece area sütununda 8'den büyük değerlerin olduğu ülkeleri seçmiş oluruz ve amacımıza hizmet edecek yeni bir data frame elde etmiş oluruz.

In [28]:
brics[is_huge]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

--> Yukarıda yaptığımız işlemleri tek bir satırda halledebiliriz. area değeri, 8'den büyük olan gözlemlerin bir arada olduğu yeni bir data frame oluşturmuz oluruz.

In [29]:
brics[brics["area"] > 8]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

#### NumPy'ın np.logical_and() fonksiyonu ile istediğimiz aralıklarda True olan boolean, seri olarak sonuç veren kod bloğu

In [30]:
import numpy as np
np.logical_and(brics["area"] > 8, brics["area"] < 10)

BR     True
RU    False
IN    False
CH     True
Name: area, dtype: bool

Sadece 8 ile 10 m2'lik gözlemleri bir arada tutmak istediğimizi varsayalım. Bunu da NumPy'daki logical_and() fonksiyonu ile yapalım

In [31]:
brics[np.logical_and(brics["area"] > 8, brics["area"] < 10)]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

## Data Frame'leri for döngüsü ile yineleme

#### iterrows()

In [32]:
dict = {
    "country" : ["Brazil", "Russia", "India", "China"],
    "capital" : ["Brasilia", "Moscow", "New Delhi", "Beijing"],
    "area" : [8.516, 17.10, 3.286, 9.597],
    "population" : [200.4, 143.5, 1252, 1357]
}

brics = pd.DataFrame(dict, index = ["BR", "RU", "IN", "CH"])
brics

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

--> For döngüsünü herhangi bir komut kullanmadan data frame üzerinde deneyelim. Göreceğiz ki sadece sütunları döndürecek

In [33]:
for val in brics:
    print(val)

country
capital
area
population

--> Pandas'ta satırlar üzerinde yineleme yapmak istediğimizi açıkça belirtmemiz gerekir. Bunu da itterows() metodu ile yaparız.
--> iterrows() metodu data frame'e bakar ve her yinelemede iki veri parçası (satırın etiketi ve daha sonra pandas serisi olarak satırdaki gerçek veriler) döndürür

In [38]:
for lab, row in brics.iterrows():
    print(lab)
    print(row)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object

--> Sadece indexlerdeki etiketler ve başkentlerin (capital sütunu) olduğu bir seri oluşturalım.

In [39]:
for lab, row in brics.iterrows():
    print(lab + ":" + row["capital"])

BR:Brasilia
RU:Moscow
IN:New Delhi
CH:Beijing

## DataFrame'e yeni bir sütun ekleme

#### apply()

In [42]:
dict = {
    "country" : ["Brazil", "Russia", "India", "China"],
    "capital" : ["Brasilia", "Moscow", "New Delhi", "Beijing"],
    "area" : [8.516, 17.10, 3.286, 9.597],
    "population" : [200.4, 143.5, 1252, 1357]
}

brics = pd.DataFrame(dict, index = ["BR", "RU", "IN", "CH"])
brics

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

--> .loc() kullanarak yeni bir sütun ekleyelim

In [43]:
for lab, row in brics.iterrows():
    # Her yinelemede yeni bir seri yaratıyoruz
    brics.loc[lab, "name_length"] = len(row["country"])
    
print(brics)

   country    capital    area  population  name_length
BR  Brazil   Brasilia   8.516       200.4          6.0
RU  Russia     Moscow  17.100       143.5          6.0
IN   India  New Delhi   3.286      1252.0          5.0
CH   China    Beijing   9.597      1357.0          5.0

--> Üstte for döngüsü ile yapılan işlem verimsizdir. Bu yüzden yukarıdaki gibi yapmak yerine apply() komutunu kullanabiliriz.
 
 --> apply() komutu, girdi olarak her ülke adıyla len işlevini çağırır ve o şekilde ekleme yapar.

In [45]:
brics["name_length_of_capitals"] = brics["capital"].apply(len)
brics

,country,capital,area,population,name_length,name_length_of_capitals
BR,Brazil,Brasilia,8.516,200.4,6.0,8
RU,Russia,Moscow,17.100,143.5,6.0,6
IN,India,New Delhi,3.286,1252.0,5.0,9
CH,China,Beijing,9.597,1357.0,5.0,7